[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LLMAgentR"]
	path = LLMAgentR
	url = https://github.com/knowusuboaky/llmagentr
[submodule "RAGFlowChainR"]
	path = RAGFlowChainR
	url = https://github.com/knowusuboaky/ragflowchainr
[submodule "chatLLM"]
	path = chatLLM
	url = https://github.com/knowusuboaky/chatllm
